.main {
   display: grid;
   background-color: rgb(1, 74, 53);
   border-top: 1px solid rgb(12, 110, 82);
   padding: 0;
   margin:0;


}
.mainText{
   grid-column: 1;
   width: 400px;
   color: antiquewhite;
   margin: 30px;

}

.mainText >p{
   font-size: 70px;
}
.p2{
   font-size: 17px;
   margin-top: 30px;
}
.button {
   text-align: left;
   margin-left: 60px;
   margin-bottom: 100px;
}
.button >button{
   cursor: pointer;
   border:20px;
   border-radius: 3px;
   font-size: 15px;
   width: 200px;
   height: 50px;
   background-color: rgba(6, 0, 0, 0.5);
   color: antiquewhite ;

}
.pic1 {
   grid-column: 2;
   grid-row: 1;
}
.pic1 >img{
   padding-top: 35px;
   width: 320px;
   height: 450px;
   
}
.pic2 {
   grid-column: 3;
   grid-row: 1;
}
.pic2 >img{
   margin-top: 50px;
   width: 280px;
   height: 320px;
   border-radius: 10px;
}
.pic2 >p{
   color: antiquewhite ;
   font-size: 17px;
   text-align: left;
   margin-top: 50px;
}