.main {
  display:block;
   background-color: rgb(12, 88, 67);
   padding: 0;
   margin: 0;


}
.mainText{
   display:grid;
   width: 500px;
   color: antiquewhite;
   margin: 30px;

}

.mainText >p1{
   font-size: 70px;
   padding-bottom: 50px;
}
.mainText >p2{
  
   font-size: 15px;
}
.button{
text-align: left;

}
.button >button{
   background-color:  rgb(12, 88, 67);
   margin-left: 15px;
}
.pic1 >img{
   width: 300px;
   height: 400px;

}
.pic2{
   width: 100px;
   height: 100px;

}